:root {
  --color-primary: #1e293b;
  --color-secondary: #0f172a;
  --color-accent: #e67e22;
  --color-text: #f8fafc;
  --color-background: #0f172a;
  --color-black: #000000;
  --color-kaki: #4a5d23;
} 